* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url('./myjs.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.mini_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    border: 1px solid white;
    width: 35%;
    background-color: rgb(89, 81, 70);
    border-radius: 10px;
    box-shadow: 5px 5px 8px 4px #888888;

}

.numberCharacters {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

h1,
textarea,
.numberCharacters {
    margin: 10px;
    background-color: white;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}